
@media (max-width:430px){
    .wrapper{
        width: 300px;
    }
    .google p{
        margin-left: 30px; 
    }
    .fb p{
        margin-left: 30px; 
    }
    }

@media (max-width:325px){
    /* Wrapper media style */
    .wrapper{
        width: 280px;
    }
}
@media (max-width:300px){
    /* Wrapper media style */
    .wrapper{
        width: 250px;
    }
    .google p{
        margin-left: 10px; 
    }
    .fb p{
        margin-left: 10px; 
    }
    .wrapper::before{
      
        top: -40%;
        width: 180px;
        left: -40%;
        
    }
    .wrapper::after{
        top: -40%;
        width: 180px;
        left: -40%;
    }
    
}
@media (max-width:265px){
    /* Wrapper media style */
    .wrapper{
        width: 200px;
        height: 79vh;
    }
    .links{
        flex-direction: column;  
    }
    
    .forgot{
        margin-bottom: 20px;
    }
    .signup{
        margin-bottom: 10px;
    }
    .google{
        flex-direction: column;
        margin-left: 2px;
        
    }
    .google img{
        margin-top: 8px;
        width: 20px;
    }
    .google p{
        margin-top: 3px;
    }
    .fb{
        flex-direction: column;
        margin-left: 2px;
    }
    .fb p{
        margin-top: 1px;
    }
   
}
    